<!DOCTYPE html>
<html>
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
  <script charset="UTF-8">
  //<![CDATA[ 
  document.write('<meta http-equiv="content-Type" content="text/html;charset=utf-8"/>');
$(document).ready(function () { 
	$("button").click(function () { 
     window.location.href= "https://h5.youzan.com/v2/showcase/goods?alias=360fjhvzzpclj&activity=&ps=320"; 
    });
});
//]]>
</script>  
<body>
手机号:<input type="text" id="phone"/>
<button>续费</button>
</body>
</html>	