<!DOCTYPE html>
<html>
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
  <script charset="UTF-8">
  //<![CDATA[ 
  document.write('<meta http-equiv="content-Type" content="text/html;charset=utf-8"/>');
$(document).ready(function () { 
	$("button").click(function () { 
		var phone = $("#phone").val();
        // str1 = 123456;
       // alert(phone);
        var url =  "http://218.61.208.68:8008/getProduct?phoneNum="+phone; 
        $.get(url, function (data, status) {
        	for(var i = 0; i<data.length;i++){
            	//alert(i);
            	 $("#father").prepend("<div width:100%>"+"电话:"+data[i].phoneNum+"已购产品:"+data[i].productName+"</div>");
            	 $("#father").prepend("<hr>");
            }
             
        });   
    });
});
//]]>
</script>  
<style>
#phone{
width:30%;
}
button{
background-color:green;
color:#fff;
}
#father{
margin-left:25%;
width:50%;
height:auto;
text-algin:center;
background-color:grey;
padding-left:5%;
padding-right:5%;
margin-top:100px;
}
#border{
margin-left:40%;
}
</style>
<body>
<!--<span th:text="${key}"></span>-->
<div id="border">手机号:<input type="text" id="phone"/>
<button>已购买产品</button>
</div>
<div id="father"></div>

</body>
</html>	